# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/SimpleShade
/SimpleShade/Depends/glm
/SimpleShade/SimpleShade/x64/Debug
/SimpleShade/x64/Debug
/SimpleShade/.vs/SimpleShade/v15
/SimpleShade/Depends/GL
/SimpleShade/Model
/SimpleShade/SimpleShade/3rdParty/stb-master
